

div.image_box
{
    width: 100%;
}

img.cover_img
{
    width: 100%;
    height: auto;
}


#inner-left p a
{
	
    text-decoration: none;
    color: #848484;
}


#inner-left
{
  background-color:white;
    width: 45%;
    float:left;
	
}


#inner-right
{
  background-color:white;
	width: 45%;
  border-style: solid;
  border-width: 0 0 0 2px;
	float: right;
}

.whatisultimate
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


