p h1 h2 h3 h4 h5 a
{
    opacity: 1;
    color: #000000;
    text-decoration: none;
}

body
{
  color: #222;
  font-family: 'Droid Sans', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: -moz-radial-gradient(farthest-side, transparent 90%, rgba(0, 0, 0, 0.2) 150%) white;
  background: -webkit-gradient(radial, center center, 500, center center, 1400, from(transparent), to(rgba(0, 0, 0, 0.6))) white;
  background-image: -webkit-gradient(radial, 50% 50%, 500, 50% 50%, 1400, from(transparent), to(rgba(0, 0, 0, 0.597656)));
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: white;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: center;
  -moz-box-pack: center;
  display: -o-box;
  -o-box-orient: vertical;
  -o-box-align: center;
  -o-box-pack: center;
  width: 100%;
}

.main_body
{
    width: 900px;
    min-height: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.9; */
}

#menu-bar
{
    width: 100%;
    height: 36px;
    background-color: #0B0B61;
    position: absolute;
    top: 100px;
}


#menu-bar li
{
  float: left
}

#menu-bar a
{
  display:block;
  width: 127px;
  height: 36px;
  background-color: white;
  border-style:solid;
  border-color: black;
  border-width: 1px;
  text-decoration:none;
  padding: 0.5em 0 0 0;
}
#menu-bar ul
{
  list-style-type:none;
  margin:0;
  padding: 0;
}

#main-nav li .sub-links li a:hover{  
    background: #2d2620;  
}  
#main-nav li a.close{  
    display: none;    
    position: absolute;  
}  
#main-nav li a.close:hover{  
    background: #900;  
}  


#main-handle {  
    width: 705px;  
    float: right;  
    height:42px;
    
}  

#main-nav li {  
    display: inline;  
    list-style: none;  
}  
#main-nav li a {  
    margin-right: 5px;  
    font-size: 15px;  
    text-decoration: none;  
    color: #f2f2f2;  
    font-family: Arial, Helvetica, sans-serif;  
    text-transform: uppercase;  
    font-weight: bold;  
    outline: 0;  
    padding: 10px;
    position: relative;  
    top: -6px;  
}  
#main-nav li a:hover, #main-nav li a.active {  
    background: #514539;  
}  
img.cover_img
{
    width: 100%;
    height: auto;
}


div.content
{
    overflow: auto;
    width: 100%;
    text-align: center;
	  background-color: white;
    min-height:800px;
}
 

#footer
{
  clear: both;
  height: 40px;
  width: 100%
  background-color: green;
}

.rounded
{
	border-radius: 10px
}

.info
{
	padding: 0.2em 0.7em 0.4em 0.7em;
  text-align: left;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  /*font-family: Verdana, Geneva, sans-serif;*/
}



#header{
  width: 100%;
  background-color: rgb(4, 9, 58);
  height: 39px;
}

